*{
  margin: 0px;
  padding: 0px;
  font-family: 'Kanit', sans-serif;
  text-decoration:none;
 
}

nav{
  width: 100%;
  margin: 0 auto;
  background-color: black;
  position: sticky;
  top: 0px;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: orange;
  border-bottom: 2px solid gold;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: black;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:" ▼";
  font-size: 12px;
}







/* Fin du code de la navbar */
/* ///////////////////////////////////////////////// */





/* ///////////////////////////////////////////////// */
/* code des produits a la une page d'accueil */

main {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .card{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
    margin: auto;
    text-align: left;
    cursor: pointer;
    position: relative;
    height: 360px;
    display: inline-block;
    transform: scale(.9);
    transition: all .3s;
  }
  
  .card:hover{
    transform: scale(.95);
  }
  
  .card-top {
    width: 100%;
    height: 270px;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card-top > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
  }
  .card-mid {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: white;
    border-bottom-left-radius: 10px;
    overflow:hidden;
    border-bottom-right-radius: 10px;
    transition: all .3s;
  }
  .card-mid h4{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .card-mid label{
    margin: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
  }
  .card-image{
    transition: all .3s;
  }
  .card:hover .card-image {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .card-desc {
    transition: all .3s .2s;
    border-left: 0px solid #b4deac;
  }
  .card:hover .card-desc {
    border-left: 2px solid #b4deac;
    padding-left: 8px;
  }
  .card-blur-zone {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 15px;
    background-color: rgba(255, 255, 255, .8);
  
  }

  /* Fin code des produits a la une page d'accueil */
  /* ///////////////////////////////////////////////// */


   /* ///////////////////////////////////////////////// */
  /* Code du bouton DECOUVEREZ NOS ARTICLES */

  button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    margin-left: 1000px;
    
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   
   @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
     -o-font-smoothing: antialiased;
     text-rendering: optimizeLegibility;
   }
   
  
   
   .container {
     max-width: 400px;
     width: 100%;
     margin: 0 auto;
     position: relative;
   }
   
   #contact input[type="text"],
   #contact input[type="email"],
   #contact input[type="tel"],
   #contact input[type="url"],
   #contact textarea,
   #contact button[type="submit"] {
     font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
   }
   
   #contact {
     background: #F9F9F9;
     padding: 25px;
     margin: 150px 0;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
   
   #contact h3 {
     display: block;
     font-size: 30px;
     font-weight: 300;
     margin-bottom: 10px;
   }
   
   #contact h4 {
     margin: 5px 0 15px;
     display: block;
     font-size: 13px;
     font-weight: 400;
   }
   
   fieldset {
     border: medium none !important;
     margin: 0 0 10px;
     min-width: 100%;
     padding: 0;
     width: 100%;
   }
   
   #contact input[type="text"],
   #contact input[type="email"],
   #contact input[type="tel"],
   #contact input[type="url"],
   #contact textarea {
     width: 100%;
     border: 1px solid #ccc;
     background: #FFF;
     margin: 0 0 5px;
     padding: 10px;
   }
   
   #contact input[type="text"]:hover,
   #contact input[type="email"]:hover,
   #contact input[type="tel"]:hover,
   #contact input[type="url"]:hover,
   #contact textarea:hover {
     -webkit-transition: border-color 0.3s ease-in-out;
     -moz-transition: border-color 0.3s ease-in-out;
     transition: border-color 0.3s ease-in-out;
     border: 1px solid #aaa;
   }
   
   #contact textarea {
     height: 100px;
     max-width: 100%;
     resize: none;
   }
   
   #contact button[type="submit"] {
     cursor: pointer;
     width: 100%;
     border: none;
     background: #4CAF50;
     color: #FFF;
     margin: 0 0 5px;
     padding: 10px;
     font-size: 15px;
   }
   
   #contact button[type="submit"]:hover {
     background: #43A047;
     -webkit-transition: background 0.3s ease-in-out;
     -moz-transition: background 0.3s ease-in-out;
     transition: background-color 0.3s ease-in-out;
   }
   
   #contact button[type="submit"]:active {
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
   }
   
   .copyright {
     text-align: center;
   }
   
   #contact input:focus,
   #contact textarea:focus {
     outline: 0;
     border: 1px solid #aaa;
   }
   
   ::-webkit-input-placeholder {
     color: #888;
   }
   
   :-moz-placeholder {
     color: #888;
   }
   
   ::-moz-placeholder {
     color: #888;
   }
   
   :-ms-input-placeholder {
     color: #888;
   }
  