/* Styles spécifiques à la page */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 100px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .card {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
 
  
  /* Styles spécifiques à la navigation */
  .navbar {
    background-color: #343a40;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 24px;
  }
  
  .nav-link {
    color: #fff;
    font-size: 16px;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  
   /* Styles spécifiques à la navigation */
   :root {
    
    --gray: #343a40;
    --darkgray: #343a40;
  }
  
  select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    margin-top: 30px;
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #343a40;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: white;
  }
  
  /* Other styles*/
  body {
    color: #fff;
    background: var(--background-gradient);
  }
  h1 {
    margin: 0 0 0.25em;
  }
  a {
    font-weight: bold;
    color: var(--gray);
    text-decoration: none;
    padding: .25em;
    border-radius: .25em;
    background: white;
  }
  

/* Other styles*/

.form {
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.signup {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--input:focus {
  border: 1px solid #639;
  outline: none;
}

.form--marketing {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.form--marketing > input {
  margin-right: 0.625em;
}

.form--marketing > label {
  color: grey;
}

.checkbox, input[type="checkbox"] {
  accent-color: #639;
}

.form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}

.form--submit:hover {
  color: #639;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}

  